@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  background-color: hsl(225, 100%, 94%);
  position: relative;
  font-size: 16px;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.text-content {
  padding: 7%;
  text-align: center;
}

.title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 20px;
}

.subtitle {
  color: #8a8a8a;
  margin-bottom: 25px;
}

.payment-plan {
  background-color: hsl(225, 100%, 98%);
  display: flex;
  padding: 25px;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
}

.payment-plan-left {
  display: flex;
  align-items: center;
  text-align: left;
}

.payment-plan-left div {
  margin-left: 20px;
}

.payment-plan-left h5 {
  font-weight: 900;
  font-size: 15px;
  color: hsl(223, 47%, 23%);
}

.payment-plan-left p {
  color: #8a8a8a;
  font-size: 14px;
}

.payment-plan a {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  transition: color 0.3s ease;
}

.payment-plan a:hover {
  text-decoration: none;
  color: hsl(245, 75%, 52%);
}

a.proceed-btn {
  display: block;
  text-decoration: none;
  color: white;
  background-color: hsl(245, 75%, 52%);
  padding: 20px 0;
  border-radius: 12px;
  font-weight: 900;
  margin: 30px 0;
}

a.proceed-btn:hover {
  background-color: hsl(224, 23%, 55%);
  transition: background-color 0.3s ease;
}

a.cancel-btn {
  font-weight: 900;
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}

a.cancel-btn:hover {
  color: hsl(223, 47%, 23%);
  transition: color 0.3s ease;
}

@media only screen and (max-width: 450px) {
  .container {
    max-width: 87%;
  }

  body {
    background-image: url(images/pattern-background-mobile.svg);
    font-size: 14px;
  }

  .title {
    font-size: 23px;
  }

  .payment-plan div {
    padding: 12px;
  }

  .payment-plan-left div {
    margin-left: 10px;
  }

  a.proceed-btn,
  a.cancel-btn,
  .payment-plan a {
    font-size: 13px;
  }

  .text-content {
    padding: 9% 7%;
  }
}
